@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

/*! base start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    background-color: hsl(0, 0%, 100%);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/*! base end */

/*! header start */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7%;
    height: 90px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list li a {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    transition: 0.4s ease all;
}

.nav-list li a:hover,
.active {
    padding: 15px 25px;
    background-color: hsl(0, 0%, 100%);
    color: #000 !important;
    text-transform: uppercase;
    font-family: 'Fraunces', serif !important;
    border-radius: 25px;
}

/*! header end */

/*! home start */
.home {
    min-height: 100vh;
    background: url(./images/desktop/image-header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -90px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    text-align: center;
}

.content h1 {
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 7px;
    margin-bottom: 95px;
}

/*! home end */

/*! main-section start */
.main-section {
    width: 100%;
    margin: auto;
}

.section-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
}

.section-item {
    flex: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-wrapper {
    width: 405px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-item .title {
    font-size: 37px;
    font-weight: 900;
}

.section-item .description {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 25px;
    color: hsl(232, 10%, 55%);
}

.learn-more a {
    text-transform: uppercase;
    font-weight: 900;
}

.learn-more span {
    position: relative;
    display: flex;
    width: 130px;
    height: 10px;
    border-radius: 5px;
    margin-top: -8px;
    opacity: 0.4;
    z-index: -1;
    transition: 0.4s ease all;
}

.learn-more .yellow {
    background-color: hsl(51, 100%, 49%);
}

.learn-more .red {
    background-color: hsl(7, 99%, 70%);
}

.learn-more:hover span {
    opacity: 1;
}

.section-wrapper:first-child .section-item:nth-child(2) {
    background-image: url(./images/desktop/image-transform.jpg);
}

.section-wrapper:nth-child(2) .section-item:nth-child(1) {
    background-image: url(./images/desktop/image-stand-out.jpg);
}

.section-wrapper:last-child .section-item-graphic {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    color: hsl(167, 40%, 24%);
}

.section-wrapper:last-child .section-item-photography {
    background-image: url(./images/desktop/image-photography.jpg);
    color: hsl(198, 62%, 26%);

}

.section-graphic-photography {
    flex: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    gap: 30px;
    padding-bottom: 60px;
}

.section-graphic-photography p {
    font-family: 'Barlow', sans-serif;
    width: 360px;
}

.section-graphic-photography h3 {
    font-size: 28px;
}

/*! main-section end */

/*! section-testimonials start */
.testimonials {
    margin: 110px 0;
}

.testimonials-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.testimonials-title {
    text-align: center;
    margin-bottom: 60px;
}

.testimonials-title h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
    color: hsl(210, 4%, 67%);
}

.testimonials-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.testimonials-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hr-line {
    display: none;
}

.person-img {
    width: 50px;
    /* height: 50px; */
    /* object-fit: cover; */
    border-radius: 50%;
}

.testimonials-item .info {
    font-family: 'Barlow', sans-serif;
    margin: 50px 0;
    color: hsl(213, 9%, 39%);
}

.testimonials-item .name {
    font-weight: 900;
}

.testimonials-item .profession {
    font-family: 'Barlow', sans-serif;
    line-height: 32px;
    font-size: 12px;
    color: hsl(210, 4%, 67%);
}

/*! section-testimonials end */

/*! section-gallery start */

.gallery-container {
    display: flex;
}

.gallery-container .gallery img {
    display: flex;
    width: 100%;
}

/*! section-gallery end */

/*! footer start */
footer {
    background-color: hsl(168, 66%, 70%);
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.footer-logo img {
    filter: invert(64%) sepia(9%) saturate(2813%) hue-rotate(118deg) brightness(94%) contrast(79%);
}

.footer-nav-list {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.footer-nav-list li a {
    font-family: 'Barlow', sans-serif;
    color: hsl(168, 34%, 41%);
    font-size: 14px;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*! footer end */

/*! responsive start */
@media (max-width: 1024px) {
    .section-wrapper {
        height: 500px;
    }

    .item-wrapper {
        width: 348px;
        gap: 20px;
    }

    .section-item .title {
        font-size: 30px;
    }

    .section-item .description {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }

    .section-wrapper {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 1200px;
    }

    .section-wrapper.column-reverse {
        flex-direction: column-reverse;
    }

    .item-wrapper {
        width: 450px;
        gap: 20px;
    }

    .section-item .title {
        font-size: 45px;
    }

    .section-item .description {
        font-size: 23px;
        line-height: 34px;
    }

    .section-item a {
        font-size: 20px;
        margin-right: 10px;
    }

    .learn-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .learn-more span {
        width: 160px;

    }

    .testimonials-container {
        max-width: 440px;
        margin: auto;
    }

    .testimonials-title h2 {
        font-size: 22px;
    }

    .hr-line {
        display: block;
    }

    .testimonials-list {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .person-img {
        width: 100px;
    }

    .testimonials-item .info {
        font-size: 22px;
        line-height: 36px;
        margin: 30px 0;
    }

    .testimonials-item .name {
        font-size: 24px;
    }

    .testimonials-item .profession {
        font-size: 18px;
    }

    .gallery-container {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery {
        width: 100%;
        height: auto;
    }

    .gallery-container .gallery {
        flex: 50%;
    }
}

/*! responsive end */